APP_DEBUG=true
APP_URL=https://test.ysipedimosalgo.com
APP_KEY=hVSO0988ukjLtSRAMfhqPwq2Q3b8sVJO
APP_NAME='Motor de Restoranes - Y si pedimos algo'


DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=base_nueva_restoranes
DB_USERNAME=root
DB_PASSWORD=
SITE_DEFAULT=1
CACHE_DRIVER=file

SESSION_DRIVER=file

QUEUE_DRIVER=sync

MAIL_DRIVER=mail
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=null
MAIL_PASSWORD=null

ROUTES_CACHE=false
ASSET_CACHE=false
LINK_POLICY=detect
ENABLE_CSRF=false

ONE_SIGNAL_APP_ID=4b96763f-8c4d-4986-bfd3-180fe479d27e

